<!DOCTYPE html>
<html lang="nl">
  <%- include('partials/head') %>
  <body>
    <div id="map"></div>

    <aside class="options">
      <h1 class="title"><%= title %></h1>
      <h2><strong><%= location %></strong></h2>
      <section class="active-users">
        <h2>Reizigers:</h2>
        <ul class="active-users__list"></ul>
      </section>
      <button class="start-btn" type="button">Start</button>
    </aside>

    <div class="share-link">
      <input type="text" name="url" value="<%- url %>">
      <button type="button">Deel</button>
    </div>

    <div class="login-overlay">
      <div class="login-modal">
        <h2>Welkom bij</h2>
        <h1><q><%= title %></q></h1>
        <p>
          Vul je naam in en ga mee op reis!
        </p>
        <form class="login">
          <input type="text" name="username" placeholder="Jouw naam" required>
          <button type="submit">Mee op reis</button>
        </form>
      </div>
    </div>

    <div class="cursors"></div>

    <script type="module" src="/js/trip.js"></script>

    <%- include('partials/footer') %>
  </body>
</html>
